MoneyTracker.Api/bin/
MoneyTracker.Api/obj/
MoneyTracker.Application/bin/
MoneyTracker.Application/obj/
MoneyTracker.Infrastructure/bin/
MoneyTracker.Infrastructure/obj/
MoneyTracker.Domain/bin/
MoneyTracker.Domain/obj/
MoneyTracker.Contracts/bin/
MoneyTracker.Contracts/obj/